@{
    string _classSearch = Session["idEventList"] == null ? "search" : "filterListEventsProducts";
}
<div class="ui container fluid _header">
    <div class="ui container">
        <div class="ui middle aligned three column centered grid">
            <div class="row">

    <div class="ui six wide mobile six wide tablet eight wide computer column">
                    @Html.Action("Menu", "Home")
            </div>

                <div class="ui six wide mobile six wide tablet two wide computer column">
                    <a href="@(Session["idEventList"] == null ? "/Home" : "#")">
                        <img class="logo-store ui middle aligned image" src="/assets/image/logo/logo.png" alt="">
                    </a>
                </div>

        


                <div class="ui center aligned five wide tablet four wide computer column searchcolumn">
                    <div class="ui category @_classSearch">
                        <div class="ui icon input fluid">
                            <input class="prompt" type="text" placeholder="Buscar...">
                            <i class="search icon"></i>
                        </div>
                        <div class="results"></div>
                    </div>
                </div>


                <div class="ui right aligned four wide mobile five wide tablet two wide computer column">
                    <div id="cartButton" class="ui labeled button cartbutton mini-cart no margin bottom" tabindex="0" data-segment="@(Session["segment"] != null ? Session["segment"] : "b2c")">
                        <div class="ui btn-cart-null   ">
                            <i class="cart icon icon-cart "></i>
                            <span>@(Session["idEventList"] == null && Session["EventList"] == null ? "" : "Minha Lista")</span>
                        </div>
                    
                    
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>